<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mybatisgenerator.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.example.mybatisgenerator.entity.User" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="union_id" property="unionId" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="TINYINT" />
    <result column="avatar_url" property="avatarUrl" jdbcType="VARCHAR" />
    <result column="coin_amount" property="coinAmount" jdbcType="INTEGER" />
    <result column="red_envelope_amount" property="redEnvelopeAmount" jdbcType="DECIMAL" />
    <result column="scene_code" property="sceneCode" jdbcType="INTEGER" />
    <result column="channel_id" property="channelId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, open_id, union_id, nick_name, gender, avatar_url, coin_amount, red_envelope_amount, 
    scene_code, channel_id, create_time, update_time
  </sql>
  <insert id="insertSelective" parameterType="com.example.mybatisgenerator.entity.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="openId != null" >
        open_id,
      </if>
      <if test="unionId != null" >
        union_id,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="avatarUrl != null" >
        avatar_url,
      </if>
      <if test="coinAmount != null" >
        coin_amount,
      </if>
      <if test="redEnvelopeAmount != null" >
        red_envelope_amount,
      </if>
      <if test="sceneCode != null" >
        scene_code,
      </if>
      <if test="channelId != null" >
        channel_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="unionId != null" >
        #{unionId,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=TINYINT},
      </if>
      <if test="avatarUrl != null" >
        #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="coinAmount != null" >
        #{coinAmount,jdbcType=INTEGER},
      </if>
      <if test="redEnvelopeAmount != null" >
        #{redEnvelopeAmount,jdbcType=DECIMAL},
      </if>
      <if test="sceneCode != null" >
        #{sceneCode,jdbcType=INTEGER},
      </if>
      <if test="channelId != null" >
        #{channelId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.mybatisgenerator.entity.User" >
    update user
    <set >
      <if test="openId != null" >
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="unionId != null" >
        union_id = #{unionId,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=TINYINT},
      </if>
      <if test="avatarUrl != null" >
        avatar_url = #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="coinAmount != null" >
        coin_amount = #{coinAmount,jdbcType=INTEGER},
      </if>
      <if test="redEnvelopeAmount != null" >
        red_envelope_amount = #{redEnvelopeAmount,jdbcType=DECIMAL},
      </if>
      <if test="sceneCode != null" >
        scene_code = #{sceneCode,jdbcType=INTEGER},
      </if>
      <if test="channelId != null" >
        channel_id = #{channelId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>